 /* HEADER */
            .page-header{
            height: 80px;
            background-color: forestgreen;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            min-width: 800px;
            }
            
            .page-header-container{
                margin-left: 100px;
                margin-top: 5px;
            }
            
            .page-header-container button{
                margin-right: 25px;
            }
            
            #highlight {
                background-color: darkgreen;
                width: 100px;
                height: 80px;
                position: fixed;
                left: 85px;
                top: 0;
                z-index: -1;
            }
            
            #home{    
                background: url('sprites.png') no-repeat -355px -280px;
                width: 72px;
                height: 71px;
                border: none;
            }
            
            #picture{
                background: url('sprites.png') no-repeat -177px -290px;
                width: 76px;
                height: 60px;
                border: none;
            }
            
            #profile{
                background: url('sprites.png') no-repeat -11px -287px;
                width: 61px;
                height: 66px;
                border: none;
            }
            
            #hanap{
                margin-right: 50px;
                margin-top: 20px;
                height: 35px;
                width: 250px;
                border-radius: 10px;
            }
            
            #search-button{
                background: url('sprites.png') no-repeat -104px -296px;
                width: 44px;
                height: 44px;
                border: none;
                margin-top: 15px;
                margin-right: 10px;
                
                
            }
            .rc{
                position: relative;
            }
            div{
                display:block;
            }
            
            .post-by-user{  
                font-size: small;
                font-family: arial, sans-serif;
                line-height: 1.2;
                text-align: left;
            }
            
            .post-container:hover{
                background-color: darkseagreen;    
            }
            
            a{
                text-decoration: none;
                font-style: normal;
                color: seagreen;
            }
            
            .post{
                margin-top: 5px;
                margin-bottom: 1px;    
                
            }
            
            .post-container{
                border-bottom: 1px solid #e6ecf0;
                border-top: 1px solid #e6ecf0;
                display: grid;
                flex-direction: row;
                align-items: center;
            }
            
            .post post-info{
                word-wrap: break-word;
            }
            
            .post-info{
                font-size: 14px;
                line-height: 20px;
                font-family: sans-serif;
                color: darkslategray;
            }
            
            #post-div{
                border-left: 10px solid darkgreen;
                border-right: 10px solid darkgreen;
                padding: 20px;
                max-width: 800px;
                width: 80%;
                margin: 20px auto;
                font-family: Source Sans Pro;
                margin-top: 10%;
            }

            #more-post{
                margin-left: 45%;
                margin-right: 45%;
                font-family: Source Sans Pro;
                
            }
            
            #button-more-post{
                background: none;
                backface-visibility: hidden;
                border: none;
            }
            
            #button-more-post:hover{
                color: green;
                text-decoration: underline;

            }

            .title{
                color: darkgreen;
                font-size: 40px;
                font-family: Patrick Hand SC;
            }
            
            body{
                background-color: #bdd4b4;
            }
            /* Will be used for the future, if there will be successive posts
            .li{
                text-align: inherit;
            }*/

            #logo-footer{
                background: url('sprites.png') no-repeat -209px -4px;
                width: 207px;
                height: 40px;
                position: fixed;
                bottom: 10px;
                right: 5px;
            }